openapi: 3.0.0
info:
  title: Chainlabs Full Clusters API
  description: "### \n\nAccess Chainlabs’ complete cluster-level blockchain labeling dataset.\nCovers hundreds of millions of inferred labels across BTC, TRX, and EVM chains (Solana forthcoming), including sanctions and illicit-risk categories—designed for compliance, risk, and analytics use cases."
  version: 0.1.0
servers:
  - url: https://api.chainlabs.ai
security:
  - bearerAuth: []
paths:
  /auth:
    post:
      tags:
        - Authentication
      summary: Authenticate and get access token
      description: Submit your client_id and api_key to receive an access token. Include this token in the Authorization header for all subsequent API requests.
      operationId: authenticate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthRequest'
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Invalid request
        '401':
          description: Invalid credentials
      security: []
  /labels:
    post:
      tags:
        - Labels
      summary: Get label for wallet address
      description: |-
        Returns label for the provided blockchain wallet addresses(upto 50 addresses in each request).
        
        Unlabeled addresses are returned without attribution data.
        
        Out of scope entities include category level labels only, with no entity-level details.
      operationId: label
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabelsRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelsResponse'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      security:
        - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from /auth endpoint
  schemas:
    LabelsRequest:
      type: object
      required:
        - addresses
      properties:
        addresses:
          description: List of blockchain wallet addresses (maximum 50).
          type: array
          minItems: 1
          maxItems: 50
          items:
            type: string
          example:
            - 34xp4vRoCGJym3xR7yCVPFHoCNxv4Twseo
            - 1DcT5Wij5tfb3oVViF8mA8p4WrG98ahZPT
    LabelsResponse:
      type: object
      properties:
        results:
          description: Array of attribution results for the queried addresses.
          type: array
          items:
            type: object
            properties:
              address:
                description: Blockchain wallet address that was queried.
                type: string
                example: 34xp4vRoCGJym3xR7yCVPFHoCNxv4Twseo
              token:
                $ref: '#/components/schemas/TokenEnum'
              entityId:
                description: Unique integer assigned to the attributed entity.
                type: integer
                format: int64
                nullable: true
                example: 10
              entityName:
                description: Official or recognized name of the attributed entity.
                type: string
                nullable: true
                example: Binance
              categoryId:
                description: Unique ID assigned to the category.
                type: string
                example: CEFI
              category:
                description: Category of the entity.
                type: string
                example: Centralized Finance
              confidenceLevel:
                $ref: '#/components/schemas/ConfidenceLevelEnum'
          example:
            - address: 34xp4vRoCGJym3xR7yCVPFHoCNxv4Twseo
              token: BTC
              entityId: 10
              entityName: Binance
              categoryId: CEFI
              category: Centralized Finance
              confidenceLevel: high
            - address: 1DcT5Wij5tfb3oVViF8mA8p4WrG98ahZPT
              token: BTC
              entityId: null
              entityName: null
              categoryId: CEFI
              category: Centralized Finance
              confidenceLevel: low
    TokenEnum:
      type: string
      description: A specific cryptocurrency or token associated with the wallet address.
      enum:
        - BTC
        - TRX
        - ETH
    ConfidenceLevelEnum:
      type: string
      description: Confidence level of the assigned label.
      enum:
        - high
        - mid
        - low
    AuthRequest:
      type: object
      required:
        - client_id
        - api_key
      properties:
        client_id:
          type: string
          description: Your client identifier
          example: your_client_id
        api_key:
          type: string
          description: Your API key
          example: your_api_key
    AuthResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        token:
          type: string
          description: JWT token for API authentication
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        client_id:
          type: string
          example: your_client_id
        error:
          type: string
          description: Error message if authentication failed
